@model EmployeeRequestViewModel

@{
    ViewData["Title"] = "View Request Details";
}

<div class="row">
    <div class="col-3" style="width: 25%">

        <h4>Holiday Request Details</h4>

        <label asp-for="StartDate"></label>
        <input id="startDayFixed" asp-for="StartDate" class="form-control col-1" readonly>

        <label asp-for="EndDate"></label>
        <input id="endDayFixed" asp-for="EndDate" class="form-control col-1" readonly>

        <label asp-for="Status"></label>
        <input asp-for="Status" class="form-control col-1" readonly>

        @if (!String.IsNullOrEmpty(Model.DisapprovalStatement))
        {
            <label asp-for="DisapprovalStatement"></label>
            <input asp-for="DisapprovalStatement" class="form-control col-1" readonly>
        }
    </div>

    <div class="content-wrapper lighten-3 col-8">
        <div class="calendar-wrapper z-depth-2">

            <div class="header-background">
                <div class="calendar-header">
                    <a class="prev-button" id="prev">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </a>
                    <a class="next-button" id="next">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    <div class="row header-title">

                        <div class="header-text">
                            <h3 id="month-name">July</h3>
                            <h5 id="todayDayName">Today is Monday 31 July</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="calendar-content">
                <div id="calendar-table" class="calendar-cells">
                    <div id="table-header">
                        <div class="row">
                            <div class="col">Mon</div>
                            <div class="col">Tue</div>
                            <div class="col">Wed</div>
                            <div class="col">Thu</div>
                            <div class="col">Fri</div>
                            <div class="col">Sat</div>
                            <div class="col">Sun</div>
                        </div>
                    </div>

                    <div id="table-body" class="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
@section Scripts {
    <script type="text/javascript">
        var dateToday = new Date();
        var startDate = document.getElementById("startDayFixed").value;
        var endDate = document.getElementById("endDayFixed").value;
        createCalendar(dateToday, null, startDate, endDate);
    </script>
}