@model UserFormModel

@{
    ViewData["Title"] = "Add Employee";
}

<form method="post">

    <h4>Add New Supervisor</h4>

    @await Html.PartialAsync("~/Views/Shared/_NewUserPartial.cshtml")

    <input class="btn btn-primary" type="submit" value="Add Supervisor" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}