html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.scrollable {
    height: 250px;
    overflow-y: scroll;
}

.toastr-fixed-width {
    word-break: break-word;
}