@model PendingRequestDetailsViewModel

@{
    ViewData["Title"] = "Respond to Request";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["message"]
    </div>
}

<div class="row">
    <div class="col-3" style="width: 25%">
        <form method="post">
            <h4>Holiday Request Details</h4>

            <label asp-for="StartDate"></label>
            <input id="startDayFixed" asp-for="StartDate" class="form-control col-1" readonly>

            <label asp-for="EndDate"></label>
            <input id="endDayFixed" asp-for="EndDate" class="form-control col-1" readonly>

            <label asp-for="Employee.FullName"></label>
            <input asp-for="Employee.FullName" class="form-control col-1" readonly>

            <label asp-for="Employee.HolidayDaysRemaining"></label>
            <input asp-for="Employee.HolidayDaysRemaining" class="form-control col-1" readonly>

            <input asp-area="Supervisors" asp-controller="Requests" asp-action="Approve"
                   asp-route-id="@Model.Id" class="btn btn-primary mb-3" type="submit" value="Approve" />

            <a asp-area="Supervisors" asp-controller="Requests" asp-action="Disapprove"
               asp-route-id="@Model.Id" class="btn btn-primary">Disapprove</a>
        </form>
    </div>

    @await Html.PartialAsync("~/Areas/Shared/Views/_CalendarPartial.cshtml")
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        var dateToday = new Date();
        var startDate = document.getElementById("startDayFixed").value;
        var endDate = document.getElementById("endDayFixed").value;
        createCalendar(dateToday, null, startDate, endDate);
    </script>
}