@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead mb-0 mt-3">This is your holiday tracking system</p>
    <hr class="my-4">
    <p>Log in with the credentials from your company and request a holiday with ease.</p>
    <p>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-lg">Login</a>
    </p>
</div>
