@model UserFormModel

@{
    ViewData["Title"] = "Add Employee";
}

<form method="post">

    <h4>Add New Employee</h4>

    @await Html.PartialAsync("~/Areas/Shared/Views/_NewUserPartial.cshtml")

    <input class="btn btn-primary" type="submit" value="Add Employee" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}